aiohttp==3.8.1
aiosignal==1.2.0
asgiref==3.5.2
async-timeout==4.0.2
attrs==21.4.0
autopep8==1.6.0
base58==2.1.1
bitarray==2.6.0
bitcoinlib==0.6.5
blocksmith==1.2.1
certifi==2022.6.15
charset-normalizer==2.1.0
Cython==0.29.28
cytoolz==0.12.0
Django==4.1
ecdsa==0.18.0
eth-abi==2.2.0
eth-account==0.5.8
eth-hash==0.5.0
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
fastecdsa==2.2.3
frozenlist==1.3.0
greenlet==1.1.2
gunicorn==20.1.0
hdwallet==2.1.1
hexbytes==0.2.2
idna==3.3
ipfshttpclient==0.8.0a2
jsonschema==4.7.2
lru-dict==1.1.8
mnemonic==0.20
multiaddr==0.0.9
multidict==6.0.2
netaddr==0.8.0
numpy==1.22.2
parsimonious==0.8.1
protobuf==3.20.1
pycodestyle==2.8.0
pycryptodome==3.15.0
PyJWT==2.4.0
pyperclip==1.8.2
pyrsistent==0.18.1
pysha3==1.0.2
python-dotenv==0.20.0
pytz==2022.1
requests==2.28.1
rlp==2.0.1
simple-chalk==0.1.0
six==1.16.0
SQLAlchemy==1.4.39
sqlparse==0.4.2
toml==0.10.2
toolz==0.12.0
twilio==7.12.0
urllib3==1.26.10
varint==1.0.2
web3==5.30.0
websockets==9.1
yarl==1.7.2
